<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>QR Code généré</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>QR Code généré</h1>
    <p>QR Code pour :<br><strong><%= originalUrl %></strong></p>
    <img src="<%= qrImage %>" alt="QR Code">
    <a href="/">⬅ Générer un autre QR code</a>
  </div>
</body>
</html>
